<!doctype html>
<html>
  <head>
    <title>flask-peewee site shell</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
    {% block extra_head %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}" type="text/javascript"></script>
    {% block extra_scripts %}{% endblock %}
  </head>
  
  <body>
  
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Example app</a>

          <ul class="nav">
            <li><a href="{{ url_for('add') }}">Add post</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="content">
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <div class="alert-message {{ category }}">
            <a class="close" href="#">×</a>
            <p>{{ message }}</p>
          </div>
        {% endfor %}
        <div class="page-header">
          <div class="pull-right">
          {% block content_header %}
            <a href="{{ url_for('add') }}" class="btn success">+ Add post</a>
          {% endblock %}
          </div>
          <h1>{% block content_title %}{% endblock %}</h1>
        </div>
        <div class="row">
          <div class="span12">
            {% block content %}{% endblock %}
          </div>
          <div class="span4 sidebar">
            {% block sidebar %}{% endblock %}
          </div>
        </div>
      </div>

      <footer>
        <p>Shell site</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
